<head>
    <link rel="stylesheet" href="/css/trafficindex.css">
</head>
<div id="flash-msg"></div>
<h2 class="mb-4"> TRAFFIC VIOLATION</h2>
<form action="/traffic/detail" method="get">
    <div class="mb-3">
        <label for="mobileNumber" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"required>
    </div>
    <div class="mb-3">
        <label for="vehicleNumber" class="form-label">Vehicle Number</label>
        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber"required>
    </div>
    <button class="btn-search " type="button" onclick="sendOtp()">Send OTP</button>

  <div class="mb-3">
    <label for="otp" class="form-label">Enter OTP</label>
    <input type="text" class="form-control" id="otp" name="otp" required>
  </div>
    <button class="btn-search "> Search </button>
</form>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
async function sendOtp() {
  const mobile = document.getElementById("mobileNumber").value;
  const vehicle = document.getElementById("vehicleNumber").value;
  const flash = document.getElementById("flash-msg");

  if (!mobile || !vehicle) {
    flash.innerHTML = `<div class="alert alert-danger">Fill all fields</div>`;
    return;
  }

  const res = await axios.get(`/otp?mobileNumber=${mobile}`);

  if (res.data.success) {
    flash.innerHTML = `<div class="alert alert-success">${res.data.message}</div>`;
  } else {
    flash.innerHTML = `<div class="alert alert-danger">${res.data.message}</div>`;
  }
}
</script>