<form action="/traffic/detail" method="get">
    <div class="mb-3">
        <label for="mobileNumber" class="form-label">Mobile Nummber</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"required>
    </div>
    <div class="mb-3">
        <label for="vehicleNumber" class="form-label">vehicleNumber</label>
        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber"required>
    </div>
    <button class="btn btn-dark"> Search </button>
</form>

