<head>
    <link rel="stylesheet" href="/css/trafficindex.css">
</head>
<h2 class="mb-4"> TRAFFIC VIOLATION</h2>
<form action="/traffic/detail" method="get">
    <div class="mb-3">
        <label for="mobileNumber" class="form-label">Mobile Number</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"required>
    </div>
    <div class="mb-3">
        <label for="vehicleNumber" class="form-label">Vehicle Number</label>
        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber"required>
    </div>
    <button class="btn-search "> Search </button>
</form>

