<form action="/traffic" method="post">
    <div class="mb-3">
        <label for="vehicleNumber" class="form-label">vehicleNumber</label>
        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber"required>
    </div>
    <div class="mb-3">
        <label for="ownerName" class="form-label">ownerName</label>
        <input type="text" class="form-control" id="ownerName" name="ownerName"required>
    </div>
    <div class="mb-3">
        <label for="mobileNumber" class="form-label">mobileNumber</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"required>
    </div>
    <div class="mb-3">
        <label for="violationType" class="form-label">violationType</label>
        <input type="text" class="form-control" id="violationType" name="violationType"required>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">location</label>
        <input type="text" class="form-control" id="location" name="location"required>
    </div>
    <div class="mb-3">
        <label for="fineAmount" class="form-label">fineAmount</label>
        <input type="text" class="form-control" id="fineAmount" name="fineAmount"required>
    </div>
    <div class="mb-3">
        <label for="dateOfViolation" class="form-label">dateOfViolation</label>
        <input type="date" class="form-control" id="dateOfViolation" name="dateOfViolation">
    </div>
    
    <div class="mb-3">
        <label for="eChallanNumber" class="form-label">eChallanNumber</label>
        <input type="text" class="form-control" id="eChallanNumber" name="eChallanNumber"required>
    </div>
    
    <button class="btn btn-dark"> Add </button>
</form>