<link rel="stylesheet" href="/css/newtraffic.css">
<h2 class="mb-4">Add Traffic Violation</h2>
<form action="/traffic" method="post">
    <div class="mb-3">
        <label for="vehicleNumber" class="form-label">Vehicle Number</label>
        <input type="text" class="form-control" id="vehicleNumber" name="vehicleNumber"required>
    </div>
    <div class="mb-3">
        <label for="ownerName" class="form-label">Owner Name</label>
        <input type="text" class="form-control" id="ownerName" name="ownerName"required>
    </div>
    <div class="mb-3">
        <label for="mobileNumber" class="form-label">mobileNumber</label>
        <input type="text" class="form-control" id="mobileNumber" name="mobileNumber"required>
    </div>
    <div class="mb-3">
        <label for="violationType" class="form-label">Violation Type</label>
        <input type="text" class="form-control" id="violationType" name="violationType"required>
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" class="form-control" id="location" name="location"required>
    </div>
    <div class="mb-3">
        <label for="fineAmount" class="form-label">Fine Amount</label>
        <input type="text" class="form-control" id="fineAmount" name="fineAmount"required>
    </div>
    <div class="mb-3">
        <label for="dateOfViolation" class="form-label">Date Of Violation</label>
        <input type="date" class="form-control" id="dateOfViolation" name="dateOfViolation">
    </div>
    
    <div class="mb-3">
        <label for="eChallanNumber" class="form-label">E-Challan Number</label>
        <input type="text" class="form-control" id="eChallanNumber" name="eChallanNumber"required>
    </div>
    
    <button class="btn btn-dark"> Add </button>
</form>