<div class="card " style="width: 21rem;"> 
   <b><h2>Admin Dashboard</h2></b> 
</div>
<link rel="stylesheet" href="/css/dashboard.css">

<div class="row">
    <div class="col-6">
        New Law
        <form action="/laws/new">
            <button>Add</button>
        </form>
    </div>

    <div class="col-6">
        New FAQ
        <form action="/faqs/new">
            <button>Add</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-6">
        New Live Stream
        <form action="/streams/new">
            <button>Add</button>
        </form>
    </div>

    <div class="col-6">
        New Traffic Voilation
        <form action="/traffic/new">
            <button>Add</button>
        </form>
    </div>
</div>
