

/* Details heading */
h2 {
  color: #003d91;
  font-weight: 700;
  border-bottom: 2px solid #003d91;
  padding-bottom: 5px;
  width: fit-content;
  margin-bottom: 15px;
}

/* Details box */
/* div {
  background-color: #ffffff;
  border: 1px solid #ffd700;
  border-radius: 6px;
  padding: 12px 18px;
  margin: 20px auto;        
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  width: 40%;               
  display: block;            
} */



/* Pay button */
.btn {
  display: block;
  width: 30%;
  margin: 0 auto;
  background-color: #0052b3;
  color: white;
  border: none;
  font-weight: 600;
  border-radius: 6px;
  padding: 10px 0;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #003d91;
  transform: translateY(-1px);
}
