* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
  
}

body {
  background-color: #f5f7fa;
  color: #222;
}


/* Slider */
.slider {
  position: relative;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
   margin: -24px;
  padding: -50px;
  margin-left: -112px;
  margin-bottom: -270px;
  margin-right: -112px;
  /* box-sizing: border-box; */

}

.slides img {
  width:100%;
  height:500px;
  object-fit: cover;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  } 
}

/* About Section */
.about, .mission {
  padding: 80px 10%;
  text-align: center;
  background: #ffffff;
  margin-top: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.about h2, .mission h2 {
  color: #002147;
  margin-bottom: 20px;
  font-size: 28px;
  border-bottom: 2px solid #f9d342;
  display: inline-block;
  padding-bottom: 8px;
}

.about p, .mission p {
  font-size: 18px;
  color: #333;
  line-height: 1.7;
  margin-top: 20px;
}

/* Footer */
footer {
  background-color: #002147;
  color: #fff;
  padding: 40px 60px;
  margin-top: 30px;
  margin-left: -110px;
  margin-right: -110px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.footer-left h3 {
  color: #f9d342;
  font-size: 22px;
  margin-bottom: 10px;
}

.footer-left p {
  max-width: 300px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-center p,
.footer-center a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.footer-center a:hover {
  color: #f9d342;
}

.footer-right p {
  margin-top: 15px;
  font-size: 13px;
  color: #ccc;
}

/* Animation Fade Effect */
.fade {
  animation-name: fadeIn;
  animation-duration: 4.0s;
}
