<head>
    <link rel="stylesheet" href="/css/verify.css">
</head>
<form action="/user/signup" method="get">
    <div class="mb-3">
        <label for="code" class="form-label">Unique Code</label>
        <input type="text" class="form-control" id="code" name="code"required>
    </div>
    <button type="submit" class="nm-btn">Submit</button>
</form>