<div class="row">
    <div class="col-6">
        TRAFFIC PAY
        <form action="/traffic">
            <button>Check Details</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-6">
        Court Fee
        <form action="/courtfee">
            <button>Check Details</button>
        </form>
    </div>
</div>
