
<link rel="stylesheet" href="/css/courtindex.css"><form action="/courtfee/detail" method="get">
    <div class="mb-3">
        <label for="caseId" class="form-label">Case Id</label>
        <input type="text" class="form-control" id="caseId" name="caseId"required>
    </div>
    <div class="mb-3">
        <label for="partyName" class="form-label">Party Name</label>
        <input type="text" class="form-control" id="partyName" name="partyName"required>
    </div>
    <button class="btn btn-dark"> Search </button>
</form>

