
  <link rel="stylesheet" href="/css/lawindex.css">
  <div class="laws-page">
<div class="main-content">
<h2>All Laws</h2>
<ul>
  <% laws.forEach(law => { %>
    <li><%= law.title %></li>
    
    <form action="/laws/<%= law._id %>" method="get">
      <button>View</button>
    </form>
    
  <% }) %>
</ul>
</div>
</div>