<div class="row">
    <div class="col-6 offset-3">
        <form action="/streams" method="post">
            <div class="mb-3">
                <label for="courtName" class="form-label">Court Name</label>
                <input type="text" class="form-control" id="courtName" name="courtName" required>
            </div>
            <div class="mb-3">
                <label for="youtubeLink" class="form-label">You Tube Link</label>
                <input type="text" class="form-control" id="youtubeLink" name="youtubeLink" required>
            </div>
            <button  class="btn btn-dark" type="submit">Add</button>
        </form>
    </div>
</div>